.musicTable tr, table {
    text-align: center;
    border: 1px solid black !important;
}

.musicTable tr:hover {
    background-color: rgb(187, 186, 186);
}

tr:nth-child(even) {
    background-color: rgb(117, 161, 255);
    color: rgb(0, 0, 0)
}

tr:nth-child(even):hover {
    color:black;
}

button {
    margin-left: 10px !important;
}