.musicTable tr, table {
    text-align: center;
    border: 1px solid rgb(56, 54, 54) !important;
}

.musicTable tr:hover {
    background-color: rgb(167, 112, 112);
}

tr:nth-child(even) {
    background-color: rgb(111, 138, 196);
    color: rgb(87, 20, 20)
}

tr:nth-child(even):hover {
    color:black;
}

button {
    margin-left: 10px !important;
}